{{#unless this.site.mobileView}}
  <div class="sidebar-footer__mode-toggle" {{did-insert this.setDefaultMode}}>
    <a
      class="chat-mode-toggle"
      {{on "click" this.toggleMode}}
      data-sidebar-mode={{if (eq this.currentMode "forum") "chat" "forum"}}
    >
      {{#if (eq this.currentMode "chat")}}
        {{#if (theme-setting "back_mode")}}
          {{d-icon "arrow-left"}}
          Back
        {{else}}
          {{d-icon "random"}}
          Forum
        {{/if}}
      {{else}}
        {{d-icon "random"}}
        Chat
      {{/if}}

      {{#unless this.currentUserInDnD}}
        {{#if (eq this.currentMode "forum")}}
          <ChatHeaderIconUnreadIndicator />
        {{else}}
          {{#if this.unreadTopicCount}}
            <div class="chat-channel-unread-indicator"></div>
          {{/if}}
        {{/if}}
      {{/unless}}
    </a>
  </div>
{{/unless}}