{{#unless this.site.mobileView}}
  {{#if (and this.currentUser this.currentMode)}}
    <div class="sidebar-footer__mode-toggle">

      {{#if (eq (theme-setting "toggle_mode") "single")}}
        <DButton
          @action={{action "toggleMode"}}
          @class="btn-default chat-mode-toggle"
          @icon="random"
          @translatedLabel={{if (eq this.currentMode "chat") "Forum" "Chat"}}
        />
      {{else}}

        <a
          class="forum-mode-toggle"
          {{on "click" this.toggleMode}}
          data-sidebar-mode="forum"
        >{{d-icon "university"}}</a>
        <a
          class="chat-mode-toggle"
          {{on "click" this.toggleMode}}
          data-sidebar-mode="chat"
        >
          {{d-icon "d-chat"}}
        </a>

      {{/if}}
    </div>
  {{/if}}
{{/unless}}